---
import Layout from "../layouts/Layout.astro";
import "./index.scss";
import logo from "../assets/logo.png";
import video1 from "../assets/video1.mp4";
import aboutUs1 from "../assets/about-us-1.jpeg";
import aboutUs2 from "../assets/about-us-2.jpeg";
// import ScrollAnimations from "../scripts/ScrollAnimations.astro";
import LoadIcons from "../scripts/LoadIcons.astro";
import aboutUs3 from "../assets/about-us-3.jpg";
import ScrollIntoView from "../scripts/ScrollIntoView.astro";
---

<Layout>
  <section class="landing-page">
    <div class="navbar">
      <img src={logo.src} alt="logo" class="logo" />
      <span class="material-symbols-outlined"> menu </span>
      <ul>
        <li data-scroll="landing-page">
          <div>Home</div><span></span>
        </li>
        <li data-scroll="our-services-page">
          <div>Our services</div><span></span>
        </li>
        <li data-scroll="about-us-page">
          <div>About us</div><span></span>
        </li>
        <li data-scroll="contact-us-page">
          <div>Contact us</div><span></span>
        </li>
      </ul>
    </div>
    <div class="content-video">
      <video autoplay loop muted>
        <source src={video1} type="video/mp4" />
      </video>
    </div>
    <div class="footer">
      <h1>We worry, <br /> You relax.</h1>
    </div>
  </section>
  <section class="about-us-page">
    <div class="scroll-wrapper">
      <div class="left-container">
        <img src={aboutUs3.src} alt="the team" />
      </div>
      <div class="right-container">
        <h1>ABOUT US</h1>
        <h2>Get to know our <span>team.</span></h2>
        <p>
          Meet the brains behind Fafex. We blend diverse skills and fresh ideas
          to deliver innovative solutions. We're dedicated, passionate and
          committed to helping your brand shine with a modern and refreshing
          approach.
        </p>
        <p>Let's create something amazing <span>together!</span></p>
        <div class="signature">Coral, Jackson, & Luke</div>
      </div>
      <div class="footer">
        <div class="line"></div>
        <div class="carousel-container">
          <div class="carousel-1"></div>
          <div class="carousel-2"></div>
        </div>
        <div class="line"></div>
      </div>
    </div>
  </section>
  <section class="our-services-page"></section>
  <!-- <ScrollAnimations client:load /> -->
  <!-- <LoadIcons client:load /> -->
  <!-- <ScrollIntoView client:load /> -->
</Layout>

<script>
  async function loadIcons() {
    for (let i = 1; i <= 10; i++) {
      const imgElements = [];
      for (let j = 1; j <= 3; j++) {
        imgElements.push(await import(`../assets/icons/icon-${i}.png`));
        const img = document.createElement("img");
        img.src = imgElements[j - 1].default.src;
        document.querySelector(`.carousel-${j}`)?.appendChild(img);
      }
    }
  }
  loadIcons();
</script>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    });
  });
  const hiddenElements = document.querySelectorAll(".hidden");

  hiddenElements.forEach((el) => observer.observe(el));
</script>

<script>
  function addEventListeners() {
    const li = document.querySelectorAll(".navbar li");
    li.forEach((li) => {
      li.addEventListener("click", () => {
        document
          .querySelector(`.${li.getAttribute("data-scroll")}`)
          ?.scrollIntoView({ behavior: "smooth" });
      });
    });
  }

  addEventListeners();
</script>
